<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097811854292-d08hvlssn5m9fs88m01cbi6ruf085cff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097811854292-d08hvlssn5m9fs88m01cbi6ruf085cff</string>
	<key>API_KEY</key>
	<string>AIzaSyCt5ap6tjnLd-tij4fw0GoIO-1G-1hiSwg</string>
	<key>GCM_SENDER_ID</key>
	<string>1097811854292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myOrganization.shopProject</string>
	<key>PROJECT_ID</key>
	<string>shopproject-3d4e3</string>
	<key>STORAGE_BUCKET</key>
	<string>shopproject-3d4e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097811854292:ios:237c71018f2ba5ead58c41</string>
	<key>DATABASE_URL</key>
	<string>https://shopproject-3d4e3.firebaseio.com</string>
</dict>
</plist>